$white						: #FAFAFA;
$black						: #16171D;

$gray-20					: #2E2D3D;
$gray-50					: #4D5064;
$gray-60					: #AFB2BF;
$gray-65					: #969A9F;
$gray-70					: #DAD9DE;
$gray-90					: #E4E7ED;
$gray-100					: #F5F7FA;

$red-50						: #F56F6F;

$purple-50					: #6C38CC;
$purple-60					: #452481;
$purple-70					: #A97BFF;

$yellow-50					: #FDF41A;

$dark-10					: #101114;
$dark-20					: #1E1F29;

$grey-light					: $gray-70;

// Font
$mainFont					: "Exo 2", sans-serif;
// Size
$mainFontColor				: $grey-light;
$mainFontSize				: 18px;
$mainFontWeight				: 400;
$mainLineHeight				: 1.5;